{{- /* common packages */}}
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew bundle --file=/dev/stdin <<EOF
tap "homebrew/autoupdate"
tap "homebrew/command-not-found"
tap "homebrew/test-bot"
tap "helix-editor/helix"
tap "shihanng/gig"
brew "bat"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fisher"
brew "starship"
brew "fx"
brew "fzf"
brew "gh"
brew "git"
brew "helix"
brew "icann-rdap"
brew "jq"
brew "ripgrep"
brew "rsync"
brew "tealdeer"
brew "shihanng/gig/gig"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "obsidian"
cask "visual-studio-code"
brew "node"
brew "pnpm"
EOF
{{ end -}}

{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "Teletype") -}}
#!/bin/bash
brew bundle --file=/dev/stdin <<EOF
brew "git-delta"
brew "git-filter-repo"
brew "git-lfs"
cask "dash"
cask "zed"
cask "vivaldi"
brew "mas"
brew "httpie"
brew "biome"
mas "Broadcasts", id: 1469995354
mas "Color Picker", id: 1545870783
mas "Hand Mirror", id: 1502839586
mas "Velja", id: 1607635845
EOF
{{ end -}}